body, html{
    height: 100%;
    
}
.form-control{
    margin-bottom: 15px;
}
.alert-warning{
    color: black;
    
    font-family: Arial, Helvetica, sans-serif;
}

img{
    height: 80px;
    width: 70px;
}