
body{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    color:red;
    font-size: 20px;
}

h1, #item{
    color:green;
}

.indisponivel{
    color: gainsboro;
}

#item{
    font-style: italic;
}

img{
    height: 60px;
    width: 50px;
}